@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
  width: 100%;
  margin: 0px;
  font-family: sans-serif;
  @apply bg-slate-50 bg-gradient-to-r from-blue-300 to-yellow-100
}

.outer-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply bg-slate-50 bg-gradient-to-r from-blue-300 to-yellow-100
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; */
}

.signup-container{
  width:600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 6px 10px 2px rgba(255, 255, 255, 0.509), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
  @apply bg-slate-50 bg-gradient-to-br from-blue-400 to-yellow-300 grid grid-cols-2
}
.div-container1{
  margin: auto;
  color:black;
  font-size: x-large;
}
.div-container2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 3px solid rgb(255, 255, 255);
  color: rgb(65, 60, 60);
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 15px;
}
.div-container2 input{
  width: 100%;
  padding: 8px;
  border: 0px;
  padding-left: 20px;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: medium;
  outline: none;
  @apply bg-slate-200
}
.div-container2 input::placeholder{
    color: rgba(146, 143, 143, 0.648);
}

.div-container2 label{
  margin: 5px 0;
  text-align: start;
  width: 90%;
  font-weight: bolder;
}
.div-container2 button{
  text-align: center;
  margin: 10px 10px 2px 10px;
  padding: 10px;
  width: 30%;
  border-radius: 20px;
  border: 0px;
  color: white;
  cursor: pointer;
  @apply bg-gradient-to-r from-blue-600 to-blue-500 hover:scale-[1.05] ease-in-out transition
}

.home{
  color: white;
  height:100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @apply bg-gradient-to-r from-blue-600 to-yellow-500 rounded-full mt-2 p-3 border-2 border-yellow-300
}
nav ul{
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul button{
  padding: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 0;
  font-size: 15px;
}
nav ul button:hover{
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 15px;
  transform: scale(1.1);
}

nav ul .link{
  padding: 7px 10px;
  color: white;
  text-decoration: none;
}
nav ul .link:hover{
  cursor: pointer;
  border-radius: 15px;
  transform: scale(1.05);
  @apply bg-blue-600 ease-in-out text-white
}
.main-container{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  @apply text-gray-700
}

.form-container{
  width: 100%;
}

.main-container form{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.url-input{
  width: 40%;
  padding: 15px;
  color: rgb(46, 46, 46);
  font-size: larger;
  padding-left: 20px;
  outline: none;
  @apply bg-gradient-to-r from-slate-400 to-slate-300 border-2 border-t-blue-600 border-b-yellow-400 border-l-yellow-400 rounded-l-full  max-md:w-[60%] max-md:p-3 max-md:text-sm
}
.main-container input::placeholder{
  color: rgba(3, 3, 3, 0.368);
}
.main-container .button{
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  color:white;
  font-size: medium;
  @apply bg-gradient-to-r from-blue-500 to-blue-600 max-md:p-3 max-md:text-sm
}

.main-container button:hover{
  cursor: pointer;
  background-color: rgb(111, 85, 243);
}
.loader{
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img{
  height: 75px;
  width: 75px;
}

.shorturl{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.311);
  width: 350px;
  padding-left: 10px;
  border-radius: 20px;
  margin-left: 10px;
  align-items: center;
  @apply text-lg
}

.shorturl #url{
  color: #ff01019a;
  padding-right: 10px;
}
.shorturl button{
  justify-content: end;
  /* @apply  */
}
.out-shorturl{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: rgba(240, 248, 255, 0.189); */
}
h2,.analytics-Container{
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure the element has width */ /* Add height if it’s empty */ /* Test visibility */
}
table{
  border-collapse: collapse;
  width: 500px;
  text-align: center;
  @apply max-md:w-[10%]
}
table th,td{
  /* border: 2px solid white; */
  padding: 10px;
  @apply border-2 border-blue-600
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.qrinput{
  @apply w-[40%] p-4 pl-8 rounded-l-full bg-gradient-to-r from-slate-400 to-slate-300 border-2
   border-t-blue-600 border-b-yellow-400 border-l-yellow-400 text-black outline-none 
  placeholder:text-slate-500 text-lg
}